<div class="container mx-auto text-center bottom-4 w-full bg-gray-200 shadow-md rounded-md">
    <a href="/" class="text-gray-600 hover:text-gray-800"><i class="bi bi-house"></i> Accueil</a>
    <a href="/doctors" class="text-gray-600 hover:text-gray-800"><i class="bi bi-person"></i> Docteurs</a></a>
    <a href="/salles" class="text-gray-600 hover:text-gray-800"><i class="bi bi-layout-text-sidebar-reverse"></i> Salles</a>
    <h1 class="text-sm text-gray-600">©Wiibleyde</h1>
    <p><a href="https://github.com/Wiibleyde/FailyV-Dispatch" class="text-gray-600 hover:text-gray-800"><i class="bi bi-github"></i> Code source</a></p>
</div>