<div class=" fixed bottom-0 left-0 w-full bg-gray-200 text-center py-2">
    <a href="/" class="text-gray-600 hover:text-gray-800 mx-1"><i class="bi bi-house"></i> Accueil</a>
    <a href="/lspd/dispatch" class="text-gray-600 hover:text-gray-800 mx-1"><i class="bi bi-layout-text-sidebar-reverse"></i> Dispatch</a>
    <a href="/lspd/agents" class="text-gray-600 hover:text-gray-800 mx-1"><i class="bi bi-person"></i> Agents</a></a>
    <a href="/lspd/salles" class="text-gray-600 hover:text-gray-800 mx-1"><i class="bi bi-layout-text-sidebar-reverse"></i> Salles</a>
    <a href="/logout" class="text-gray-600 hover:text-gray-800 mx-1"><i class="bi bi-box-arrow-right"></i> Déconnexion</a>
    <p class="text-sm text-gray-600">©Wiibleyde - LSPD Dispatch</p>
    <a href="https://github.com/Wiibleyde/FailyV-Dispatch" class="text-gray-600 hover:text-gray-800"><i class="bi bi-github"></i> Code source</a>
</div>