<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include "fragments/import.html" %}
        
        <title>Dispatch - Home</title>
    </head>
    <header>
        {% include "fragments/message.html" %}
    </header>
    <body class="bg-gray-100 mb-[13rem] dark:bg-gray-900">
        <div class="container max-w-full mx-auto px-5">
            <div class="grid grid-cols-4 gap-1">
                <div class="justify-start">
                    <h1 class="text-2xl font-bold dark:text-white">Dispatch</h1>
                    <div class="bg-gray-400 rounded-md p-3">
                        <p class='block text-gray-700 font-bold mb-2'>Créer une intervention :</p>
                        {% block createInter %}
                            <form method="post" class="flex flex-col">
                                {{ form.hidden_tag() }}
                                <div class="text-black my-1 flex flex-col">
                                    {{ form.nomInt }}
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                    <div class="grid grid-cols-3 gap-1">
                        <div class="col-span-2 bg-gray-400 rounded-md p-3 mt-1">
                            <div class="inline-flex flex-row dark:text-white">
                                <h2 class="text-md font-bold">Blessés</h2>
                                <a href="/lsms/resetInjured" class="text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 ml-3 rounded"><i class="bi bi-arrow-repeat"></i> Réinitialiser</a>
                                <p class="text-md font-bold ml-3">{{ injureds.UR + injureds.UA }} blessé(s)</p>
                            </div>
                            <div class="grid grid-cols-3 dark:text-white">
                                <div class="text-center">
                                    <h3 class="text-md font-bold mt-1">UR :</h3>
                                    <a href="/lsms/addInjured?injuredType=UR" class="bg-green-500 hover:bg-green-700 py-1 px-2 rounded"><i class="bi bi-person-add"></i></a>
                                    <p class="text-md font-bold py-2">{{ injureds.UR }}</p>
                                    <a href="/lsms/removeInjured?injuredType=UR" class="bg-red-500 hover:bg-red-700 py-1 px-2 rounded"><i class="bi bi-person-dash"></i></a>
                                </div>
                                <div class="text-center">
                                    <h3 class="text-md font-bold mt-1">UA :</h3>
                                    <a href="/lsms/addInjured?injuredType=UA" class="bg-green-500 hover:bg-green-700 py-1 px-2 rounded"><i class="bi bi-person-add"></i></a>
                                    <p class="text-md font-bold py-2">{{ injureds.UA }}</p>
                                    <a href="/lsms/removeInjured?injuredType=UA" class="bg-red-500 hover:bg-red-700 py-1 px-2 rounded"><i class="bi bi-person-dash"></i></a>
                                </div>
                                <div class="text-center">
                                    <h3 class="text-md font-bold mt-1">Delta :</h3>
                                    <a href="/lsms/addInjured?injuredType=DELTA" class="bg-green-500 hover:bg-green-700 py-1 px-2 rounded"><i class="bi bi-person-add "></i></a>
                                    <p class="text-md font-bold py-2">{{ injureds.Delta }}</p>
                                    <a href="/lsms/removeInjured?injuredType=DELTA" class="bg-red-500 hover:bg-red-700 py-1 px-2 rounded"><i class="bi bi-person-dash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="justify-center">
                    <h2 class="text-lg font-bold mt-5 dark:text-white">Salles :</h2>
                    <div class="grid grid-cols-3 gap-1">
                        {% for salle in salles %}
                            <div class="bg-white rounded-md shadow-md p-3">
                                <p class="mb-1">{{ salle }}</p>
                                {% for salleDoc in salleDocs %}
                                    {% if salleDoc.idIntervention == salle.idSalle %}
                                        {% for doctor in enService %}
                                            {% if doctor.idDoc == salleDoc.idDocteur %}
                                                <a href="/lsms/unsetDoctor/{{ salleDoc.idDocteur }}/fromSalle/{{ salle.idSalle }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700">{{ doctor.prenom }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="justify-center">
                    <h2 class="text-lg font-bold mt-5 dark:text-white">Inter :</h2>
                    <div class="grid grid-cols-4 gap-1">
                        {% for intervention in interventions %}
                            {% if intervention.nom == 'Triage' %}
                                <div class="bg-blue-400 rounded-md shadow-md p-3">
                                    <p class="mb-1">{{ intervention }} <a href="/lsms/deleteIntervention/{{ intervention.idInt }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700"><i class="bi bi-trash3"></i></a></p>
                                    {% for intDoc in intDocs %}
                                        {% if intDoc.idIntervention == intervention.idInt %}
                                            {% for doctor in enService %}
                                                {% if doctor.idDoc == intDoc.idDocteur %}
                                                    <a href="/lsms/unsetDoctor/{{ intDoc.idDocteur }}/fromIntervention/{{ intervention.idInt }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700">{{ doctor.prenom }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% elif intervention.nom == 'Dispatch' %}
                                <div class="bg-red-400 rounded-md shadow-md p-3">
                                    <p class="mb-1">{{ intervention }} <a href="/lsms/deleteIntervention/{{ intervention.idInt }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700"><i class="bi bi-trash3"></i></a></p>
                                    {% for intDoc in intDocs %}
                                        {% if intDoc.idIntervention == intervention.idInt %}
                                            {% for doctor in enService %}
                                                {% if doctor.idDoc == intDoc.idDocteur %}
                                                    <a href="/lsms/unsetDoctor/{{ intDoc.idDocteur }}/fromIntervention/{{ intervention.idInt }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700">{{ doctor.prenom }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="bg-gray-100 rounded-md shadow-md p-3">
                                    <p class="mb-1">{{ intervention }} <a href="/lsms/deleteIntervention/{{ intervention.idInt }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700"><i class="bi bi-trash3"></i></a></p>
                                    {% for intDoc in intDocs %}
                                        {% if intDoc.idIntervention == intervention.idInt %}
                                            {% for doctor in enService %}
                                                {% if doctor.idDoc == intDoc.idDocteur %}
                                                    <a href="/lsms/unsetDoctor/{{ intDoc.idDocteur }}/fromIntervention/{{ intervention.idInt }}" class="py-1 px-2 rounded-md text-white bg-red-600 hover:bg-red-700">{{ doctor.prenom }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="justify-end text-lg font-bold mt-5 dark:text-white">
                    <h2>Liste docteurs :</h2>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="bg-green-700 bg-opacity-50 rounded-md shadow-md px-3">
                            <h2 class="text-lg font-bold mt-1 dark:text-white">Disponibles :</h2>
                            <div class="grid grid-cols-2 gap-0">
                                {% for doctor in enService %}
                                    {% if doctor.inInter == 0 and doctor.indispo == 0 and doctor.inSalle == 0 %}
                                        {% if doctor.grade == "Directeur"%}
                                        <div class="text-red-600">
                                        {% elif doctor.grade == "Directeur Adjoint" %}
                                        <div class="text-red-500">
                                        {% elif doctor.grade == "Chef de service" %}
                                        <div class="text-orange-300">
                                        {% elif doctor.grade == "Spécialiste" %}
                                        <div class="text-blue-600">
                                        {% elif doctor.grade == "Titulaire" %}
                                        <div class="text-blue-400">
                                        {% elif doctor.grade == "Résident" %}
                                        <div class="text-blue-200">
                                        {% elif doctor.grade == "Interne" %}
                                        <div class="text-green-400">
                                        {% else %}
                                        <div class="text-gray-300">
                                        {% endif %}
                                            <p>{{ doctor.prenom }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="bg-red-400 bg-opacity-50 rounded-md shadow-md px-3">
                            <h2 class="text-lg font-bold mt-1 dark:text-white">Indisponible :</h2>
                            <div class="grid grid-cols-2 gap-0">
                                {% for doctor in enService %}
                                    {% if doctor.inInter or doctor.indispo or doctor.inSalle %}
                                        {% if doctor.grade == "Directeur"%}
                                        <div class="text-red-600">
                                        {% elif doctor.grade == "Directeur Adjoint" %}
                                        <div class="text-red-500">
                                        {% elif doctor.grade == "Chef de service" %}
                                        <div class="text-orange-300">
                                        {% elif doctor.grade == "Spécialiste" %}
                                        <div class="text-blue-600">
                                        {% elif doctor.grade == "Titulaire" %}
                                        <div class="text-blue-400">
                                        {% elif doctor.grade == "Résident" %}
                                        <div class="text-blue-200">
                                        {% elif doctor.grade == "Interne" %}
                                        <div class="text-green-400">
                                        {% else %}
                                        <div class="text-gray-300">
                                        {% endif %}
                                            <p>{{ doctor.prenom }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                {% if enService|length > 0 %}
                    <div class="flex justify-between items-center">
                        <h2 class="text-2xl font-bold mt-5 dark:text-white">En service : {{ enService|length }} docteur(s) :</h2>
                        <a href="/lsms/unsetAllDoctorsService" class="py-1 px-2 rounded-md text-white bg-red-800 hover:bg-red-900"><i class="bi bi-person-fill-dash"></i> Retirer toutes personnes en service</a>
                    </div>
                {% endif %}
                <div class="grid grid-cols-9 gap-2">
                {% for doctor in enService %}
                    {% if doctor.grade == "Directeur"%}
                    <div class="bg-red-600 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Directeur Adjoint" %}
                    <div class="bg-red-500 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Chef de service" %}
                    <div class="bg-orange-300 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Spécialiste" %}
                    <div class="bg-blue-600 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Titulaire" %}
                    <div class="bg-blue-400 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Résident" %}
                    <div class="bg-blue-200 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Interne" %}
                    <div class="bg-green-400 rounded-md shadow-md p-1">
                    {% else %}
                    <div class="bg-gray-300 rounded-md shadow-md p-1">
                    {% endif %}
                    {% with service=doctor.service, indispo=doctor.indispo %}
                        {% if service == 1 and indispo == 0 %}
                        <div class="mb-2">
                            <div class="bg-gray-100 bg-opacity-70 rounded-md shadow-md p-1">
                                <p class="mb-1 flex items-center text-black font-bold">{{ doctor.prenom }} <i class="bi bi-circle-fill text-green-600 text-xs ml-1"></i></p>
                            </div>
                            <div class="flex justify-between">
                                <a href="/lsms/unsetDoctorService/{{ doctor.idDoc }}" class="py-1 px-2 rounded-md text-white bg-red-800 hover:bg-red-900"><i class="bi bi-person-fill-dash"></i></a>
                                <a href="/lsms/setDoctorIndispo/{{ doctor.idDoc }}" class="py-1 px-2 rounded-md text-white bg-yellow-500 hover:bg-yellow-600"><i class="bi bi-person-fill-slash"></i></a>                                            
                                <div class="dropdown inline-block relative">
                                    <button onclick="interDropdown('{{ doctor.idDoc }}')" class="dropbtn py-1 px-2 rounded-md text-white {% if doctor.inInter %} bg-red-500 hover:bg-red-700 {% else %} bg-green-400 hover:bg-green-600 {% endif %}">
                                        <i class="bi bi-send-fill"></i>
                                    </button>
                                    <div id="interDrop{{ doctor.idDoc }}" class="dropdown-content absolute bg-gray-100 shadow-md rounded-md z-10">
                                        {% if doctor.inInter %}
                                            <p class="block px-4 py-2 bg-gray-300 rounded-md">Déjà en intervention</p>
                                        {% endif %}
                                        {% for intervention in interventions %}
                                            <a href="/lsms/setDoctor/{{ doctor.idDoc }}/toIntervention/{{ intervention.idInt }}" class="block px-4 py-2 hover:bg-gray-300">{{ intervention }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="dropdown inline-block relative">
                                    <button onclick="salleDropdown('{{ doctor.idDoc }}')" class="dropbtn py-1 px-2 rounded-md text-white {% if doctor.inSalle %} bg-red-500 hover:bg-red-600 {% else %} bg-green-400 hover:bg-green-600 {% endif %}">
                                        <i class="bi bi-door-closed-fill"></i>
                                    </button>
                                    <div id="salleDrop{{ doctor.idDoc }}" class="dropdown-content absolute bg-gray-100 shadow-md rounded-md z-10">
                                        {% if doctor.inSalle %}
                                            <p class="block px-4 py-2 bg-gray-300 rounded-md">Déjà en salle</p>
                                        {% endif %}
                                        {% for salle in salles %}
                                            <a href="/lsms/setDoctor/{{ doctor.idDoc }}/toSalle/{{ salle.idSalle }}" class="block px-4 py-2 hover:bg-gray-300">{{ salle }}</a>
                                        {% endfor %}
                                    </div>
                                </div>      
                            </div>
                        </div>
                        {% elif service == 1 and indispo == 1 %}
                        <div class="mb-2">
                            <div class="bg-gray-100 rounded-md shadow-md p-1 bg-opacity-70">
                                <p class="mb-1 flex items-center text-black font-bold">{{ doctor.prenom }} <i class="bi bi-circle-fill text-red-600 text-xs ml-1"></i></p>
                            </div>
                            <div class="flex justify-between">
                                <a href="/lsms/unsetDoctorService/{{ doctor.idDoc }}" class="py-1 px-2 rounded-md text-white bg-red-800 hover:bg-red-900"><i class="bi bi-person-fill-dash"></i></a>
                                <a href="/lsms/unsetDoctorIndispo/{{ doctor.idDoc }}" class="py-1 px-2 rounded-md text-white bg-green-500 hover:bg-green-600"><i class="bi bi-person-fill-check"></i></a>
                            </div>
                        </div>
                        {% endif %}
                    {% endwith %}
                </div>
                {% endfor %}
                </div>
                {% if horsService|length > 0 %}
                    <h2 class="text-2xl font-bold mb-2 dark:text-white">Hors service : {{ horsService|length }} docteur(s) :</h2>
                {% endif %}
                <div class="grid grid-cols-9 gap-2">
                {% for doctor in horsService %}
                    {% if doctor.grade == "Directeur"%}
                    <div class="bg-red-600 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Directeur Adjoint" %}
                    <div class="bg-red-500 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Chef de service" %}
                    <div class="bg-orange-300 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Spécialiste" %}
                    <div class="bg-blue-600 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Titulaire" %}
                    <div class="bg-blue-400 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Résident" %}
                    <div class="bg-blue-200 rounded-md shadow-md p-1">
                    {% elif doctor.grade == "Interne" %}
                    <div class="bg-green-400 rounded-md shadow-md p-1">
                    {% else %}
                    <div class="bg-gray-300 rounded-md shadow-md p-1">
                    {% endif %}
                        <div class="text-yellow-500 mb-2">
                            <div class="bg-gray-100 rounded-md shadow-md p-1 bg-opacity-70">
                                <p class="mb-1 flex items-center text-black font-bold">{{ doctor.prenom }} <i class="bi bi-circle-fill text-yellow-500 text-xs ml-1"></i></p>
                            </div>
                            <div class="flex justify-end">
                                <a href="/lsms/setDoctorService/{{ doctor.idDoc }}" class="py-1 px-2 rounded-md text-white bg-blue-500 hover:bg-blue-600"><i class="bi bi-person-fill-add"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% if doctors|length == 0 %}
                    <h2 class="text-2xl font-bold mb-2 dark:text-gray-400 text-center">Aucun docteur n'est rentré dans la base de données.</h2>
                {% endif %}
            </div>
        </div>
    </body>
    <script src="/static/script.js"></script>
    <footer>
        {% include "lsms/fragments/footer.html" %}
    </footer>
</html>